body {
    background-color: #f1f1ed;
    position: relative;
}

.navbar {
    height: 4rem;
}

.img-fluid {
    margin: 0 auto;
}

.intro {
    color: #adacb2;
    font-family: 'Roboto', sans-serif;
}

#footer {
    background-color: #adacb2;
}

@media (max-width: 767px) { 
    #footer {
        padding-bottom: 1rem;
    }
    #footer div {
        margin-top: 1rem;
    }
}


@media (min-width: 992px) {
    #img-top {
        height: 5rem;
    }
}

@media (max-width: 991px) {
    #img-top {
        height: 4rem;
    }
}

